.event-container {
  margin: 20px;
  text-align: center;
}

.event-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.event-card {
  width: 200px;
  padding: 15px;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  transition: 0.3s;
}

.event-card:hover {
  transform: scale(1.05);
  background: #ff416c;
  color: white;
}